body {
    text-align: center;
    background-color: #A6C9A2 ;
    color: #29485A;
    font-family: Palatino, serif;
    font-size: 18px;
}

.heading {
    font-size: 40px;
    margin-bottom: 15px;
    padding-top: 10px;
}

img {
    border-style: solid;
    border-color: #29485A;
    border-width: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.index-img {
    width: 400px;
}

.button {
    border-style: solid;
    padding: 10px;
    color:#29485A;
    border-radius: 10px;
    background-color: #B4DCA2;
    font-size: 1.5em;
}
.flex {
display: flex;
flex: 1;
justify-content: space-evenly;
}

a:link {
    text-decoration: none;
}
a:visited {
    color: #29485A;
    text-decoration: none;
}
a:hover {
    color: #292F5A;
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

/*Recipes*/

.contents {
    text-align: left;
    padding-left: 25px;
    margin-left: 15px;
}

.heads {
    padding-left: 45px;
}

/*INDEX*/

.recipe {
    list-style-type: none;
}


